*{
    margin:0;
    padding: 0;
}

body{
    width: 100%;
    min-height: 100vh;
}

section{
    width: 100%;
    min-height: 100vh;
    position: relative;
}

section.background-full{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 0;
}

section.background-full video{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

section div.conteudo{
    position: relative;
    z-index: 1;
}

nav {
    background-color: black;
    z-index: 1;
}

ul{
display:flex;
justify-content: end;
text-decoration: none;
padding: 10px 0;
}

a{
color: white;
margin: 0 10px;
}

#logo{
display:flex;
justify-content: end;
padding:10px 70px
}

video {
min-width: calc(100vw);
max-width: calc(100vh * 384 / 216); /* esses valores são múltiplos da largura e altura originais do vídeo  */
min-height: calc(100vh - 20px); /* esse 20 é a altura do header  */
max-height: calc(100vw * 216 / 384);
}
