*{
    margin:0;
  }
  
  nav {
    background-color: black;
  }
  
  ul{
    display:flex;
    justify-content: end;
    text-decoration: none;
    padding: 10px 0;
  }
  
  a{
    color: white;
    margin: 0 10px;
  }
  
  #logo{
    display:flex;
    justify-content: end;
    padding:10px 70px
  }